*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  box-shadow: none;
  color: black;
  
}


.container{
  padding: 30px;
}


.linkPage {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  margin: 0 auto;
  height: 100vh;
  background-color: #00a2ff;

}


.PCM-logo{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 24vh;
  padding: 16px;
}

.PCM{
  color: black;
  height:  8vh;
  font-size: min(7vw, 100px);
  text-align: left;
  line-height: 8vh;
  letter-spacing: -2px;

}

.user-box{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.prompt-text{
  margin: 1.5em;
  text-align: center;
  width: 80%;
  line-height: 1.5;
}



.prompt-text {
  margin-bottom: 20px;
}

.link-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.link-form input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 20px; 
  margin-bottom: 10px;
  width: 350px;
}

.link-form .formButton {
  padding: 10px 20px;
  border: none;
  border-radius: 20px; 
  background-color: #00a2ff; 
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease; 
  width: 150px;
  outline: none;
}

.link-form .formButton:hover {
  background-color: #00a2ff; 
}

/* chris page */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #00a2ff; /* Set the background color to blue */
}
.container-home {
  text-align: center; 
  padding-top: 50px;
}

.title {
  color: white;
  font-size: 3rem; 
  margin-bottom: 30px;
}

.card {
  background-color: white;
  margin: 20px auto; 
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgb(255, 255, 255);
  width: 80%; 
  max-width: 600px; 
}

.bold {
  font-weight: bold; 
}

.button-login {
  background-color: #00a2ff;
  color: white;
  font-family: 'Times New Roman', Times, serif;
  padding: 12px 24px;
  cursor: pointer;
  margin-top: 20px; 
}

.categories-container {
  background-color: #00a2ff; /* Set the background color to blue */
  min-height: 100vh; /* Take full height of the viewport */
  padding: 20px;
  display: flex;
  flex-direction: column; /* Stack the title and categories list */
  align-items: center;
  justify-content: center;
}

.categories-title {
  color: white;
  font-size: 48px; /* Set a large font size for the title */
  margin-bottom: 100px; /* Space between the title and the buttons */
}

.categories-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.category-button {
  background-color: #00a2ff; /* Make the button background the same as the container */
  border: 2px solid white; /* Give a white border to distinguish the buttons */
  color: white; /* Set text color to white for contrast */
  cursor: pointer;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 20px; /* This will make the buttons oval */
  outline: none; /* Remove the default focus outline */
  transition: transform 0.3s;
  
  /* Optional: Add some styles on hover to give a visual effect */
  &:hover {
    transform: scale(1.05); /* Slightly increase size on hover */
  }
}



.answer-loading-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background-color: #282c34;
}

.answer-page-container{
  padding: 20px;
}


.compatibility{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 28px 0;
}

.compatibility h1, .compatibility p{
  color: white;
}


.compatibility h1{
  margin: 12px;
  padding: 24px;
  font-size: 40px;
}

.compatibility p{
  font-size: 32px;
}


.answer-playlists{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.playlist-container{
  padding: 16px;
 
}

.playlist-container h3{
  color: white;
  padding-bottom: 16px;
  font-size: 24px;
}

.playlist-container p{
  color: white;
  padding-bottom: 16px;
  font-size: 20px;
}

.sorting-time{
  margin: 12px 0;
}

.first-line,
.second-line,
.sorting-time h4{
  color: white;
}

.first-line{
  padding-bottom: 4px;
}
.second-line{
  padding-bottom: 8px;
}

.sorting-time h4{
  padding: 8px 4px;
}
}

